@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
 /* width */
 ::-webkit-scrollbar {
    width: 15px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1772B6;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: blue;
  }

  body {
      margin: 0;
      padding: 0;
      font-family: 'Raleway', sans-serif;
      background: #262626;
  }
  
  .center {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;  
  }

  h1 {
     text-align: center;
     font-size: 3em;
     text-transform: uppercase;
     color: #fff;
  }

  h1 span {
      font-size: 4em;
      line-height: .8em;
  }

  #clockdiv {
      display: flex;
      width: 570px;
      margin: auto;
  }

  #clockdiv>div {
      position: relative;
      width: 100px;
      padding: 20px;
      margin: 0 5px;
      background: #262626;
      color: #fff;
      border: 2px solid #000;
  }

  #clockdiv>div:last-child {
      background: #e91e93;
  }

  #clockdiv>div:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: rgba(225,225,225,.2);
  }

  #clockdiv div>span:nth-child(1) {
      font-size: 80px;
      font-weight: bolder;
  }

  .smalltext {
      font-size: 19px;
      font-weight: 800;
  }